---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("posts");

let tags = getUniqueTags(posts);

tags.sort((a, b) => a.tagName.localeCompare(b.tagName));

const groupedTags = tags.reduce(
  (acc, curr) => {
    const firstChar = curr.tagName.charAt(0).toUpperCase();
    if (!acc[firstChar]) acc[firstChar] = [];
    acc[firstChar].push(curr);
    return acc;
  },
  {} as Record<string, typeof tags>
);

const letters = Object.keys(groupedTags).sort();
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <!-- <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} />)}
    </ul> -->

    <div class="grid grid-cols-1 gap-6 space-y-8 sm:grid-cols-2">
      {
        letters.map(letter => (
          <div class="rounded-lg border p-4 shadow-sm">
            <h2 class="mb-3 border-b pb-1 text-xl font-bold">{letter}</h2>

            <ul class="flex flex-wrap gap-3">
              {groupedTags[letter].map(({ tag, tagName }) => (
                <li>
                  <Tag {tag} {tagName} />
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </Main>
  <Footer />
</Layout>
